
/* .homemain
{
    overflow-y: hidden;
} */

.homelogo
{
  position: absolute;
  width: 120px;
  height: 29.24px;
  left: 60px;
  top: 28px;
}

.homegroup
{
    position: absolute;
    width: 207px;
    height: 21px;
    left: 1200px;
    top: 20px;
    margin-bottom: 200px;
    color: #566474;
}   

.homelogin
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    
    position: absolute;
    width: 133px;
    height: 44px;
    left: 1247px;
    top: 22px;
    color:white;
    
    background: #142683;
    border-radius: 5px;
}

.homewholerect
{
    position: absolute;
    width: 100%;
    height: 670px;
    left: 0px;
    top: 88px;
     bottom: 0px; 
    overflow-x: hidden;
    overflow-y: hidden;
    background: #FAFAFA;
   /* transform: matrix(0, 1, 1, 0, 0, 0);*/
}

.homefirstrect
{
    position: absolute;
    width: 1310px;
    height: 186px;
    left: 100px;
    top: 60px;
    
    background: #C3E7FD;
    border-radius: 10px;
}

.homebgrem
{
    position: absolute;
    width: 294px;
    height: 186px;
    left: 0px;
    top: 0px;
    z-index: 2;
    
    background: url(bgremove.png);
}

.homepurprect
{
    position: absolute;
    width: 407px;
    height: 186px;
    left: 0px;
    top: 0px;
    
    background: #D3B4F6;
    border-radius: 1000px 0px 0px 1000px;
    transform: rotate(-180deg);
}

.hometext1
{
    position: absolute;
    width: 800;
    height: 0px;
    left: 480px;
    top: -28px;
    
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 58px;
    
    letter-spacing: -0.02em;
    
    
    color: black;
    
}

.hometext2
{
    position: absolute;
    width: 319px;
    height: 0px;
    left: 480px;
    top: 50px;
    
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.02em;
    
    /* secondary text */
    
    color: #566474;
    
}

.homebutt
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    
    position: absolute;
    width: 133px;
    height: 44px;
    left: 1080px;
    top: 80px;
    color: white;
    
    background: #1E272E;
    border-radius: 5px;
}

.homesecondrect
{
    position: absolute;
    width: 0px;
    height: 0px;
    left: 100px;
    top: 240px;
    
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.02em;
    
    color: #000000;
}

.homesecondrect1
{
    position: absolute;
    width: 0px;
    height: 0px;
    left: 40px;
    top: 0px;
    
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.02em;
    
    color: #000000;
}

.homeoutapps
{
    display: inline-flex;
    left: 2%;
    margin-right: 0%;
}

#flex-container
{
    display: inline-flex; 
    flex-direction: column;  
   background-color: #FAFAFA;
   margin-left: -20px;
   margin-top: -20px;
   width:380px;
}

#flex-container > div {
    margin: 10px;
    font-size: 16px;
    margin-right: 50px;
  }

#app-img
{
    width: 300px;
    height:200px;   
}

#appcard
{
    margin-left:100px ;
     display: inline-flex;
    flex-direction: column; 
     align-items: center; 
    width: 250px;
    height: auto;
    margin: 20px;
    border-radius: 5%;
}

#cardtitle
{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.02em;
    
    
    
    color: #000000;
}

/* .app1
{
    position: absolute;
    width: 500px;
    height: 31px;
    left: 40px;
    top: 275px;
    
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.02em;
    
   
    
    color: black;
    
}

.app11
{
    position: absolute;
    width: 291px;
    height: 42px;
    left: 40px;
    top: 330px;
    
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.02em;
    
 
    
    color: #566474;
    
    
}

.app2
{
    position: absolute;
    width: 500px;
    height: 31px;
    left: 350px;
    top: 275px;
    
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.02em;
    
   
    
    color: #1E272E;
    
}

.app22
{
    position: absolute;
    width: 291px;
    height: 42px;
    left: 350px;
    top: 330px;
    
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.02em;
    
    
    
    color: #566474;
}

.app3
{
    position: absolute;
    width: 500px;
    height: 31px;
    left: 660px;
    top: 278px;
    
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
    letter-spacing: -0.02em;
    
  
    
    color: #1E272E;
}

.app33
{
    position: absolute;
    width: 291px;
    height: 42px;
    left: 660px;
    top: 330px;
    
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.02em;
    
   
    
    color: #566474;
    
}

.app4
{
    position: absolute;
    width: 500px;
    height: 31px;
    left: 970px;
    top: 275px;
    
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.02em;
    

    
    color: #1E272E;
    
}

.app44
{
    position: absolute;
    width: 291px;
    height: 42px;
    left: 970px;
    top: 332px;
    
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.02em;
    
   
    
    color: #566474;
    
} */